[model]
model_name = timefreq_rnnet

[encoder]
in_dim = 1
out_dim = 64
rnn_type = GRU
n_layer = 2
n_dim = 32
is_projector = False
project_norm = None
dropout = 0.0

[timefreq]
jitter_strength = 0.1
freq_ratio = 0.1
freq_strength = 0.1
project_norm = LN

[train]
lr = 0.0001
batch_size = 256
n_epoch = 400
n_ckpt = 100

