[model]
model_name = classifier_mixup_rnnet

[classifier]
n_dim = 64
n_layer = 2

[encoder]
in_dim = 1
out_dim = 128
rnn_type = LSTM
n_layer = 2
n_dim = 64
is_projector = True
project_norm = LN
dropout = 0.0

[mixup]
ph = 0
pre_train_model = .\model\ucr_00_pretrain\lst_mu_0000_0399.npz

[train]
lr = 0.0001
batch_size = 64
n_epoch = 400
n_ckpt = 400

