[model]
model_name = classifier_simclr_resnet1d

[classifier]
n_dim = 64
n_layer = 2

[encoder]
in_dim = 1
out_dim = 128
n_dim = 64
block_type = alternative
norm = LN
is_projector = True
project_norm = LN

[simclr]
ph = 0
pre_train_model = .\model\ucr_00_pretrain\r1d_sc_0000_0399.npz

[train]
lr = 0.0001
batch_size = 64
n_epoch = 400
n_ckpt = 400

